<div class="container stats">
  <h1 class="animate__animated animate__bounceInDown">Vos statistiques</h1>

  <%# carroussel %>

  <div id="carouselExampleInterval" class="carousel slide w-75 animate__animated animate__rubberBand" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%# Slide %>
      <div class="carousel-item active text-center bubble-stat-green" data-bs-interval="20000">
        <div class="w-100">
          <div class="mt-3 choix stat-category">PARTIES</div>
          <div class="mt-5 stat-number choix">32</div>
        </div>
      </div>
      <%# Slide %>
      <div class="carousel-item text-center bubble-stat-blue" data-bs-interval="20000">
        <div class="d-block w-100">
          <div class="mt-3 choix stat-category">VICTOIRES</div>
          <div class="mt-5 stat-number choix">9</div>
        </div>
      </div>
      <%# Slide %>
      <div class="carousel-item text-center bubble-stat-yellow" data-bs-interval="20000">
        <div class="d-block w-100">
          <div class="mt-3 choix stat-category">MEILLEURE SERIE</div>
          <div class="mt-5 stat-number choix">2</div>
        </div>
      </div>
      <%# Slide %>
      <div class="carousel-item text-center bubble-stat-blue" data-bs-interval="20000">
        <div class="d-block w-100">
          <div class="mt-3 choix stat-category">MOYENNE D'ESSAI</div>
          <div class="mt-5 stat-number choix">5</div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <%# Logo %>
  <div class="container text-center animate__animated animate__bounceInUp">
    <%= image_tag("logo-smile.png", width: 270, height: 270, :class => "img-fluid mb-1") %>
  </div>
</div>
