<div class="container align-center d-flex flex-column">
  <h1 class="mt-5 mb-5">Vos statistiques</h1>

  <%# carroussel %>
  <div id="carouselExampleControls" class="carousel slide mt-5 mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="bubble-stat"></div>
      </div>
      <div class="carousel-item">
        <div class="bubble-stat"></div>
      </div>
      <div class="carousel-item">
        <div class="bubble-stat"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <%# Logo %>
  <div class="container text-center mb-1 mt-4">
    <%= image_tag("logo-smile.png", width: 270, height: 270, :class => "img-fluid mb-1") %>
  </div>
</div>
