<div class="container stats">
  <h1 class="animate__animated animate__bounceInDown">Vos statistiques</h1>

  <%# carroussel %>

  <div id="carouselExampleInterval" class="carousel slide w-75 animate__animated animate__rubberBand" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%# Slide %>
      <div class="carousel-item active text-center bubble-stat-green" data-bs-interval="20000">
        <div class="w-100">
          <div class="mt-4 choix stat-category">PARTIES</div>
          <div class=" stat-number mt-5 choix"> <%= @sessionscount %> </div>
        </div>
      </div>
      <%# Slide %>
      <div class="carousel-item text-center bubble-stat-blue" data-bs-interval="20000">
        <div class="d-block w-100">
          <div class="mt-4 choix stat-category">CHANSONS TROUVEES</div>
          <div class=" stat-number mt-5 choix"><%= @songsplayedcount %></div>
        </div>
      </div>
      <%# Slide %>
      <div class="carousel-item text-center bubble-stat-yellow" data-bs-interval="20000">
        <div class="d-block w-100">
          <div class="mt-4 choix stat-category">MOYENNE D'ESSAIS</div>
          <div class=" stat-number mt-5 choix"><%= @averageguesses %></div>
        </div>
      </div>
      <%# Slide %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <%# Logo %>
  <div class="delete-btn">
    <%= link_to "Supprimer mes données", reset_guest_path(:guest_id => @current_guest), method: :delete, data: {:confirm => 'Etes vous sur ?'}, class: "btn d-block btn-primary btn-lg mb-4 mt-5 animate__animated animate__bounceInUp" %>
  </div>

</div>
