<h1 class="mode-de-jeu">Vos statistiques</h1>

<div class="container align-center d-flex">

<div class="bubble mode-de-jeu">
Vous avez joué 6 parties
<br>
Votre moyenne de coups : 20



</div>





</div>
