// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;400;700;900&family=Lato:wght@100;300;400;900&display=swap');

// Define fonts for body and headers
$body-font: "Arima Madurai";
$headers-font: "Arima Madurai";
$headers-secondary-font: "";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
