
.pagequestion{
justify-content: flex-start;
z-index: -1;

}

.bubble-static{
  background-color: #A7D0CD;
  margin: auto;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;


}

h1 {
  text-align:center;
}

.title {
  text-align:center;
}
@media (min-width: 800px) {

  .title {
    text-align:left;
  }

  }
