.container-friendship {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  align-items: center;
  text-align: center;
  width: 100vw;
}


.leaderboard {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  max-height: 17vh;
  .salad-user {
    position: absolute;
    left: 10%;
  }
}

.friend-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

