// Specific CSS for your home-page
body {
  background-color: #FBEED7;

}
.choix{
  font-family: 'chelsea-market-open';
}


.mode-de-jeu {
  
  font-family: 'sketchnote-square'

}

.small-btn-home {
  margin-top: 5rem !important;
}
