// Specific CSS for your home-page
body {
  background-color: #FBEED7;
}


.home {

display: flex;
flex-direction: column;
justify-content: space-around ;
height: 92vh;
align-items: center;

  .logo {
    padding-top: 10vh;
  }


}



.choix{
  font-family: 'chelsea-market-open';
}


.mode-de-jeu {

  font-family: 'sketchnote-square'
}

.small-btn-home {
  width: 40vh;
  display: flex;
  justify-content: space-around ;
  margin-bottom: 10px;
}
