.container-bubble{
  background-color: #A7D0CD;
  margin: auto;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
}

.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.regles {
  justify-content: flex-start;
  padding: 0 2rem;
}

h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (min-width: 800px) {
  .regles {
    justify-content: flex-start;
    padding: 0 10rem;
  }
}
