.form-control{

  border-radius: 15px;
  justify-content: space-around;
}

// .form-radius-guess{
//   justify-content: space-around;
//   width: auto;
//   border-radius: 0px;
// }



.alert{

  display: flex;
  justify-content: space-around;
  height: auto;
  width: auto;
}

.form-actions{

  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sign{

  justify-content: flex-start;
  z-index: -1;
  margin-top: 6rem;
}

h2{

  text-align: center;
}

@media (min-width: 800px) {
  .sign{

    justify-content: flex-start;
    z-index: -1;
    margin-top: 0rem;

  }
}
