<div class="d-inline-flex bg-body-color bubble-guess">
  <div class="w-50 m-1"><%= image_tag("tomato.png", width: 30, height: 30, :class => "img-fluid mb-1") %></div>
  <div class="w-50"><%= guess.word %></div>
  <div class="frequency mx-2"><%= guess.frequency %>x</div>
</div>
