<div class="container text-center">
<%# Logo return home %>
    <%= link_to root_path, class: "navbar-brand image-fluid" do %>
      <%= image_tag "song salad title navbar.png" %>
    <% end %>
      <p> Mode: <%= @game_session.nil? ? "/" : @game_session.game.name </p> <p>Cookie : <%= session[:guest_id]%></p> %>
</div>
