<div class="container-logo text-center animate__animated animate__slideInDown">
<%# Logo return home %>
    <%= link_to root_path, class: "logo-nvb d-flex justify-content-center align-item-center" do %>
      <%= image_tag "song salad title navbar.png" %>
    <% end %>

     <% if @songs_count %>
     <div> <%= @songs_done_count + 1%> / <%= @songs_count %> </div>
     <% end  %>
</div>
