<div class="container text-center">
<%# Logo return home %>
    <%= link_to root_path, class: "logo-nvb d-flex justify-content-center align-item-center" do %>
      <%= image_tag "song salad title navbar.png" %>
    <% end %>
</div>
