<h1> Foire Aux Questions </h1>

<div>
  <b>Où sont mes scores ?</b>
  <br>
  <P> Dans l’ecran de la fin de partie et dans l’écran stats
  <br>
  Vous pouvez utiliser ce lien pour supprimer vos
  <br>
  données .
  </P>
</div>

<div>
   <b>Qui a fait Song Salad ?</b>
   <br>
  <p>
    On est une équipe d’apprentis sorciers du code,
    <br>
    '<'Ul'>'team  ( '<'ul'>'' dans le monde des dev,
    <br>
    il s’agit d’une balise de liste non ordonnée, pourquoi ?
    <br>
    Car surprise nous venons tous de milieu différent,
    <br>
    mais avons un objectif commun vous divertir)
    <br>
    <br>
    A votre service pour vous amuser et vous rappeler
    <br>
    la chansonnette au bout de votre langue.
    <br>
    Voici la '<'ul'>'TEAM !
  </p>
</div>


<div>
  <b>Je peux voir la chanson d’hier ?</b>
  <br>
  <p>Fallait être là hier ! (...mais si t’insistes)</p>
</div>

<div>
<b>Quand se joue la nouvelle chanson ?</b>
  <br>
<p> Minuit heure de Paris /(heure UTC)</p>
</div>

<div>
  <b>D’ou viennent les textes ?</b>
  <br>
  <p>De notre goût pour la bonne chanson Française
  <br>
  et d’un algorythme scannant les paroles.</p>
</div>
