<div  class="pagequestion container">
<h1 class="animate__animated animate__bounceInDown"> Foire Aux Questions </h1>

<div class="bubble animate__animated animate__bounceInLeft">
  <p class= "title"><strong>Où sont mes scores ?</strong></p>
  <br>
  <p> Dans l’ecran de la fin de partie et dans l’écran stats
  <br>
  Vous pouvez utiliser ce lien pour supprimer vos
  <br>
  données .
  </p>
</div>

<div class="bubble animate__animated animate__bounceInRight">
  <p class= "title"><strong>Qui a fait Song Salad ?</strong></p>
  <br>
  <p>
    On est une équipe d’apprentis sorciers du code,
    <br>
    '<'Ul'>'team  ( '<'ul'>'' dans le monde des dev,
    <br>
    il s’agit d’une balise de liste non ordonnée, pourquoi ?
    <br>
    Car surprise nous venons tous de milieu différent,
    <br>
    mais avons un objectif commun vous divertir)
    <br>
    <br>
    A votre service pour vous amuser et vous rappeler
    <br>
    la chansonnette au bout de votre langue.
    <br>
    Voici la <'ul'>TEAM !
  </p>
</div>


<div class="bubble animate__animated animate__bounceInLeft">
  <p class= "title"><strong>Je peux voir la chanson d’hier ?</strong></p>
  <br>
  <p>Fallait être là hier ! (...mais si t’insistes)</p>
</div>

<div class="bubble animate__animated animate__bounceInRight">
<p class= "title"><strong>Quand se joue la nouvelle chanson ?</strong></p>
  <br>
<p> Minuit heure de Paris</p>
</div>

<div class="bubble animate__animated animate__bounceInLeft">
  <p class= "title"><strong>D’ou viennent les textes ?</strong></p>
  <br>
  <p>De notre goût pour la bonne chanson Française
  <br>
  et d’un algorythme scannant les paroles.</p>
</div>

</div>
