<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Solo", game_sessions_create_path %>
<%= simple_form_for(@game_session) do |f| %>
  <%= f.hidden_field :game %>
  <%= f.submit "Playlist Mode", class: "btn btn-default btn-primary" %>
<% end %>
