<div class="no-scroll">
<h1 class="animate__animated animate__bounceInDown">Règles Du Jeu</h1>

<div class="regles">

  <div class="bubble animate__animated animate__bounceInLeft">
    <P>Tente de trouver le titre de la chanson du jour</P>
  </div>

  <div class="bubble animate__animated animate__bounceInRight">
    <p>Rentre un mot et vois si il apparait dans les paroles</p>
  </div>

  <div class="bubble animate__animated animate__bounceInLeft">
    <p> Tu as autant d’essais que tu veux pour
    <br>
    trouver les paroles,
    <br>
    puis le titre de la chanson</p>
  </div>

  <div class="bubble animate__animated animate__bounceInRight" >
    <p> Si tu trouves le titre, tu gagnes !</p>
  </div>


  <div class="bubble animate__animated animate__bounceInLeft">
    <p> Il y a un mode avec une chanson et un mode playlist
    <br>
    avec 5 chanson pour les plus téméraire</p>
  </div>



  <div class=" dl-flex flex-column justify-content-around bubble animate__animated animate__bounceInRight">
    <p> Tu veux jouer avec tes amis ?
    <br>
        compares tes scores en t'enregistrant
    <br>
    </p>
  </div>
  <div class="btnanim animate__animated animate__bounceInLeft">
   <% if user_signed_in? %>
      <%= link_to friendships_path(current_user), class: "custom shadow-n" do %>
        <i class="front-n fas fa-users"></i>
      <% end %>
      <% else %>
      <%= link_to new_user_session_path, class: "custom shadow-n" do %>
        <i class="front-n fas fa-users"></i>
      <% end %>
      <%end %>
    </div>
  </div>

</div>
</div>
