.btnanim{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.custom{
  display: flex;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

}

.shadow-n {
  display: flex;
  width: auto;
  border-radius: 12px;
  background: rgba(155, 2, 2, 1);
  transform: translateY(2px);
}

.front-n {
  display: flex;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  background: $red;
  transform: translateY(-4px);
}

.custom:hover .front-n {
  transform: translateY(-6px);
}
.custom:hover .shadow-n {
  transform: translateY(4px);
}
.custom:active .front-n {
  transform: translateY(-2px);
}
.custom:active .shadow-n {
  transform: translateY(1px);
}

.custom:focus:not(:focus-visible) {
  outline: none;
}
