.bubble{
  background-color: $blue;
  margin: auto;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
}

.bubble-guess{
  background-color: $blue;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.bubble-stat-green {
  background-color: $green;
  padding: 50%;

}
