.bubble{
  background-color: $blue;
  margin: auto;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
}

.bubble-guess{
  background-color: $blue;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;

}

.bubble-stat-green {
  background-color: $green;
  border-radius: 10px;
}

.bubble-stat-blue {
  background-color: $blue;
  border-radius: 10px;
}

.bubble-stat-yellow {
  background-color: $yellow;
  border-radius: 10px;
}

.bubble-victory{
  background-color: $green;
  margin: auto;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  align-items: center;
}
