.bubble{
  background-color: $blue;
  margin: auto;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
}

.bubble-guess{
  background-color: $blue;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;

}

.bubble-stat-green {
  background-color: $green;
  border-radius: 10px;
}

.bubble-stat-blue {
  background-color: $blue;
  border-radius: 10px;
}

.bubble-stat-yellow {
  background-color: $yellow;
  border-radius: 10px;
}

.bubble-victory{
  background-color: $green;
  margin: auto;
  padding: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  align-items: center;
}

.bubble-leaderboard-yellow {
  background-color: $yellow;
  border-radius: 15px;
  height: 2rem;
  margin-bottom: 2%;
  width: 100%;
}

.bubble-leaderboard-green {
  background-color: $green;
  border-radius: 15px;
  height: 2rem;
  margin-bottom: 2%;
  width: 100%;
}

.bubble-friend-request {
  display: flex;
  flex-direction: column;
  padding: 4%;
  border: dashed $red;
  // margin: auto;
  border-radius: 5px;
  justify-content: space-around ;
  align-items: center;
}

.bubble-user-recap {
  display: flex;
  background-color: $green;
  padding: 4%;
  // margin-bottom: 4%;
  border-radius: 20px;
  justify-content: space-around ;
  align-items: center;

}
