.btn {
  border-radius: 5px
}

.btn-primary {
  box-shadow: 5px 5px #CCCCCC;
}

.btn-warning {

  box-shadow: 3px 3px #CCCCCC;
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
}

.btn-second{

  margin: 25px auto;
  box-shadow: 3px 3px #CCCCCC;
  display: flex;
  place-content: center;
  width: auto;
  height: auto;
  background-color: $blue;
}

@media (min-width: 800px) {

  .btn {
    max-width: 40vw;
    margin: auto;
  }

.btn-propal {
  box-shadow: 0px 0px;
}

  .btn-second{
    margin-top: 25px;
    box-shadow: 3px 3px #CCCCCC;
    display: grid;
    place-content: center;
    width: auto;
    height: auto;
    background-color: $blue;
  }
}

.logout-btn{
  display: flex;
  margin-top: 1rem;
}
