.container-logo {

  position: sticky;
  z-index: 1;
  top: 0;
  background: #FBEED7;
}


.logo-nvb img {
  width: 50%;
  min-width: 200px;
  max-width: 400px;
  margin-top: 10px;

}

.buttons-nvb {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 40vw;
  margin: auto;
  justify-content: center;

}

#logout{
  margin-top: 15px;
}
